*{

    box-sizing:border-box;
  }
  
  
   body {
      width: 960px;
      margin: auto;
      line-height: 1.5;
      font-family: 'Source Sans Pro', sans-serif;
    }

   header
    {
    height: 90px;
    background:white;
    }

  
   header nav 
   {
    float: left;
    margin: 15px;
    margin-left: 0px;
    
   }

   header nav p {
    margin-left: -10px;
    line-height: 0px;

   }

   header nav p:nth-child(1) {

    font-style: italic;
    font-size: 30px;
    font-family: 'Yellowtail', cursive;
    margin-top: 14px;

   }

   header nav p:nth-child(2){
    font-size: 9px;
    color: rgb(124, 117, 117);
   }


   header div
   {
    float: right;
    margin-top: 30px;
   }

   .rss-icon
   {
    padding-left: 10px;
   }


   .hr-line
   {
    height: 20px;
    width :100%;
    color:rgb(51, 47, 47);
    background-image:url('./images/hr-img.png') ;
    background-size:10px ;
    background-repeat:repeat-x;
    border: none;
   }


   main nav 
   {
    line-height: 0px;
   }

   main nav h1 
   {
    margin-top: 50px;
    font-size: 30px;
    font-family: 'Oswald', sans-serif;
    font-weight:700;
    
   }

   main nav p 
   {
    font-size: 11px;
    color:  rgb(124, 117, 117);
    font-family: 'Oswald', sans-serif;
    word-spacing: 0px;
    
   }

   main nav img 
   {
   float:right;
   margin-top: -15px;
   margin-right: 35px;
   padding-right: 3px;
   }


   main nav h6
   {
     float: right;
     margin-top: -10px;
     font-size: 12px;
     color:  rgb(124, 117, 117);
     font-family: 'Oswald', sans-serif;
   }

   .choco-pizza
   {
     width: 100%;
     margin-top: 15px ;
   }

   article 
   {
    margin: 20px 0;
   }

   article p 
   {
    text-indent: 30px;
    margin: 30px 0;
    font-weight: 400;
    color: grey;
    font-family: 'Alegreya Sans', sans-serif;
   }

   
   #addList
   {
    background-image: url('./images/list-bg.png');
    height: 300px;
    margin-bottom: 30px;
    padding-top: 34px;
    
   }

   #addList label {
    display: inline-block;
    font-family: 'Yellowtail', cursive;
    font-weight: 450;
    font-size: 18px;
    color: rgb(82, 72, 72);
    text-decoration: none;
    
   } 

   #addList > span {
    display: inline-block;
    margin: 3px 100px;

   }

   span
   {
    padding: 3px 0;
   }

   input[type="checkbox"] 
   {
    display: none;
   }

#addList input[type="checkbox"]:checked + label 
{
  text-decoration: line-through;
}

input[type="checkbox"] + label:before {
  border: 1px solid rgb(173, 169, 169);
  content: "\00a0";
  display: inline-block;
  height: 14px;
  margin: 0.25em .75em 0 0;
  padding: 0;
  vertical-align: top;
  width: 14px;
  border-radius: 4px;
  }

  input[type="checkbox"]:checked + label:before {
    background: #fff;
    color: #333;
    content: "\2713";
    text-align: center;
    
    }

    input[type="checkbox"]:checked + label:after {
      font-weight: bold;
      }



   .Van
   {
     margin-top: 25px;
     margin-bottom: 90px;
   }

   

   .Van div 
   {
    float: right;
     margin-top: -5px;
     line-height: 10px;
     margin-right: 200px;
     
   }


   .Van button {
    float:right;
    width: 180px;
    height: 50px;
    background-color: #8f432c;
    color: rgb(255, 255, 255);
    border :none;
    margin-top: -60px;
   
}
footer
{
  text-align: center;
}

footer div{
 
  margin-bottom: 30px;

}

 hr
{
  border-top: 1px solid lightgray;
}

footer div img
{
  position: absolute;
  left: 650px;
  top: 1720px;
  z-index: 1;
  
}

footer p
{
  
  line-height: 0px;
  color:grey;
  font-size: 12px;
}





  
  

  



   
   
   

   

   
   
   

   

   



   

